<?xml version="1.0"?>
<!--
 /************************************************************
 * *
 *  * Copyright © Kohaku1907. All rights reserved.
 *  * See COPYING.txt for license details.
 *  *
 *  * @author    nguyenmtri11@gmail.com
 * *  @project   Payoo Payment
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payoo_payment_config_provider" xsi:type="object">Kohaku1907\PayooPayment\Model\PayooConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Kohaku1907\PayooPayment\Controller\Payment\Start">
        <arguments>
            <argument name="commandPool" xsi:type="object">PayooCommandPool</argument>
        </arguments>
    </type>
    <type name="Kohaku1907\PayooPayment\Controller\Payment\ReturnAction">
        <arguments>
            <argument name="commandPool" xsi:type="object">PayooCommandPool</argument>
            <argument name="method" xsi:type="object">PayooFacade</argument>
        </arguments>
    </type>
    <type name="Kohaku1907\PayooPayment\Controller\Payment\Ipn">
        <arguments>
            <argument name="commandPool" xsi:type="object">PayooCommandPool</argument>
            <argument name="method" xsi:type="object">PayooFacade</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="payoo_payment" xsi:type="string">/payoo/payment/</item>
            </argument>
        </arguments>
    </type>
</config>
